.u-wrapper {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.u-material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.u-transition { transition: all .4s ease; }

.u-circle {
  overflow: hidden;
  border-radius: 50%;
}


.js-hidden { display: none !important; }
.js-active { display: block !important; }

.js-body-modal-active { overflow: hidden; }
.js-modal-active { display: block !important; }


// Overlay
#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: none;
  opacity: .7;
  
  &.js-active {
    // background-color: $black;
  }
}

.u-clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content }
  &:-moz-placeholder { @content }
  &::-moz-placeholder { @content }
  &:-ms-input-placeholder { @content }
}
