.u-button {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: rgba($black, .1);
    cursor: pointer;
    padding: 15px 20px;
    text-decoration: none;

    @extend .u-transition;

    &:hover {
        text-decoration: none;
        @extend .u-transition;
        background-color: rgba($black, .2);
    }

    & i {
        margin-left: 15px;
        vertical-align: middle;
        float: right;
    }

    &--icon-only i {
        margin-left: 0;
        float: none;
    }

    &--purple,
    &--teal,
    &--orange,
    &--blue,
    &--black,
    &--naked {
        color: $white;
        &:hover { color: $white; }
    }


    &--purple {
        background-color: $purple;
        &:hover { background-color: darken($purple, 6); }
    }

    &--teal {
        background-color: $teal;
        &:hover { background-color: darken($teal, 4); }
    }

    &--orange {
        background-color: $orange;
        &:hover { background-color: darken($orange, 4); }
    }

    &--blue {
        background-color: $blue;
        &:hover { background-color: darken($blue, 4); }
    }

    &--black {
        background-color: rgba($black, .8);
        &:hover { background-color: rgba($black, .9); }
    }

    &--naked {
        background-color: transparent;
        @include breakpoint($large) { margin-left: -10px; }

        &:hover {
            background-color: rgba($black, .2);
            @extend .u-transition;
        }
    }

    &--disabled{
      pointer-events: none;
      opacity: 0.5;
    }
}



.button { @extend .u-button; }




