.card-1 {
    padding: 7px;
    border: 1px solid rgba($black, .1);
    margin-bottom: 30px;
    position: relative;
    

    &__image {
        // The Background Image comes from the markup
        // background-image: url(./images/bg-image-sample.png);
        -webkit-filter: grayscale(100%);
        background-size: cover;
        background-position: center;
        z-index: 1;
        background-blend-mode: multiply;
        position: absolute;
        left: 7px;
        top: 7px;
        width: calc(100% - 14px);

    }

    &__content {
        text-align: left;
        color: $white;
        padding-top: 65%;
        

        h1, h2 { background-color: rgba($black, .5); }
        h2 {text-transform: none;}
    }

    h1 {
        font-weight: bold;
        font-size: 1rem;
        margin: 0;
        padding: 5% 20px 0;

    }

    h2 {
        font-size: 1rem;
        margin: 0;
        font-weight: normal;
        padding: 0 20px 10px;
    }
}

.card-1--purple .card-1__content { background-color: $purple; }
.card-1--teal .card-1__content { background-color: $teal; }
.card-1--orange .card-1__content { background-color: $orange; }
.card-1--blue .card-1__content { background-color: $blue; }
.card-1--black .card-1__content { background-color: rgba($black, .8); }
.card-1--red .card-1__content { background-color: $red; }
.card-1--green .card-1__content { background-color: $green; }



.card-2 {
    @extend .card-1;

    &__content {
        
    }
}

// .card-3 {
    

//     &__content {
//         @extend .card-1__content;
//         background-image: url(./images/bg-image-sample.png);
//         background-size: cover;
//         padding-top: 65%;
//         background-position: center;

//         h1, h2 { background-color: rgba($black, .5); }
//         h2 {text-transform: none;}
//     }
// }



















/*
Cards

Card component for organizing data.  Works well with articles / documents, etc.

Markup:
<div class="b-page-section">
    <div class="row">
        <div class="e-card m-blue">
            <a href="#">
                <div class="e-card-inner">
                    <!-- uncomment to add a background image to the card -->
                    <!-- <div class="e-card-image" style="background-image: url('')"></div> -->
                    <p class="e-card-name">Project Name</p>
                    <p class="e-card-description">Project Description</p>
                </div>
            </a>
        </div>
        <div class="e-card m-orange">
            <a href="#">
                <div class="e-card-inner">
                    <p class="e-card-name">Project Name</p>
                    <p class="e-card-description">Project Description</p>
                </div>
            </a>
        </div>
        <div class="e-card m-unreleased">
            <div class="e-card-inner">
                <p class="e-card-name">Unreleased Project</p>
                <p class="e-card-description">Project Description</p>
            </div>
        </div>
    </div>
</div>

Styleguide 3.7
*/

// .e-card {
//     display: inline-block;
//     .e-card-inner {
//         position: relative;
//         vertical-align: top;
//         color: $white;
//         width: 300px;
//         height: 300px;
//         margin: 15px;

//         p {
//             padding: 20px;
//             &.e-card-name {
//                 font-size: 18px;
//                 font-weight: 600;
//                 text-transform: uppercase;
//             }

//             &.e-card-description {
//                 position: absolute;
//                 bottom: 0;
//             }
//         }

//         .e-card-image {
//             height: 150px;
//             background-position: center center;
//             background-size: cover;
//             background-repeat: no-repeat;
//         }

//         &:hover {
//             box-shadow: 0 0 12px $gray-30;
//         }
//     }

//     &.m-orange .e-card-inner    { background-color: $orange; }
//     &.m-blue .e-card-inner      { background-color: $blue; }

//     &.m-unreleased .e-card-inner {
//         background-color: $gray-30;
//         &:hover {
//             box-shadow: none;
//         }
//     }
//     a:hover {
//         text-decoration: none;
//     }
// }
