.divider {
    background-color: rgba($black, .8);
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.3;
    color: $white;

    :first-child { margin-top: 0; }
    :last-child { margin-bottom: 0; }

    h1 {
        font-size: 2.2rem;
        text-align: center;
        text-transform: uppercase;
    }

    h1 + h2 {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        color: $white-40;
        text-transform: uppercase;
        @include breakpoint($medium) { font-size: 22px; }
    }

    h2 {
        text-transform: none;
        font-weight: 100;
    }
}

.divider--purple { background-color: $purple; }
.divider--blue   { background-color: $blue; }
.divider--orange { background-color: $orange; }
.divider--teal   { background-color: $teal; }

.divider--red { background-color: $red; }
.divider--green { background-color: $green; }

.divider--dark-blue   { background-color: darken($blue, 3); }
.divider--dark-orange { background-color: darken($orange, 3); }
.divider--dark-teal   { background-color: darken($teal, 3); }
.divider--dark-purple { background-color: darken($purple, 3); }

.divider--gray-20 { background-color: rgba($black, .2); }
.divider--gray-30 { background-color: rgba($black, .3); }
.divider--gray-40 { background-color: rgba($black, .4); }
.divider--gray-50 { background-color: rgba($black, .5); }
.divider--gray-60 { background-color: rgba($black, .6); }
.divider--gray-70 { background-color: rgba($black, .7); }
.divider--gray-80 { background-color: rgba($black, .8); }
.divider--gray-90 { background-color: rgba($black, .9); }



