.footer {
    background-color: $gray-80;
    color: $white-80;
    padding-top: 1px;
    padding-bottom: 10px;
    font-size: 16px;

    @include breakpoint($large) {
        padding: 45px 0;
    }

    &__content {
        @include breakpoint($small-only) { text-align: center; }

        h2 {
            margin: 0 0 20px;
            font-weight: 600;
            text-transform: uppercase;
            color: $white;
            text-align: left;
            font-size: 1.3rem;
        }
    }

    &__partner-logo {
        display: block;
        text-align: left;

        > img {
            max-width: 90%;
            padding: 10px 0;
            max-height: 60px;
            opacity: .5;
            @extend .u-transition;

            &:hover {
                opacity: 1;
                @extend .u-transition;
            }
        }

        &--google img {
            max-height: 50px;
            max-width: 70%;
        }

        &--mit img { max-height: 70px; }
    }




}

// .e-content.m-sections {
//     a {
//         display: block;
//         box-sizing: border-box;
//         color: $white-70;
//         padding: 5px 10px;
//         text-decoration: none;
//         margin-left: -10px;
//         margin-right: 10px;
//         @extend .u-transition;
//         text-align: left;

//         @include breakpoint($large) {
//             display: inline-block;
//             width: 49%;
//         }

//         &:hover {
//             color: $white;
//             background-color: $white-10;
//             @extend .u-transition;
//         }
//     }
// }

// .b-build-team {
//     background-color: $gray-70;
//     padding: 20px;
//     text-align: center;

//     @include breakpoint($large) {
//         text-align: left;
//         padding: 20px 0;
//     }

//     .e-social-media {
//         text-align: center;

//         @include breakpoint($large) { float: right; }

//         a {
//             padding: 10px 15px;
//             cursor: pointer;
//         }
//     }

//     a {
//         color: $white-70;
//         font-weight: 400;

//         &:hover { color: $white; }
//     }

//     p {
//         margin: 0;
//         color: $white-60;
//     }
// }

// }

.copyright {
    background-color: $gray-90;
    text-align: center;
    padding: 20px;
    color: $white-70;
    font-size: 14px;

    @include breakpoint($large) {
        padding: 20px;
        text-align: left;
    }

    &__cc-badge {
        margin-right: 25px;
        margin-top: 5px;
        @include breakpoint($small-only) { display: block; }
        @include breakpoint($large) { float: left; }
    }

    a {
        margin: 0;
        line-height: 1.2;
        color: $white-70;

        &:hover {
            color: $white;
        }
    }
}
