
.modal {
    display: none;

    background: $white;
    position: fixed;
    top: 30px;
    width: 70%;
    left: 50%;
    margin: 0 0 0 -35%;
    box-shadow: 0 0 10px $gray-50;
    
    z-index: 11;

    &__header {
        background-color: $main-color;
        padding: 0 0 0 45px;
        box-shadow: 0 2px 5px rgba($black, .2);
    }

    &__title {
        font-size: 1.2rem;
        font-weight: bold;
        color: $white;
        text-transform: uppercase;
        padding: 12px;
        margin: 0;
        letter-spacing: 1px;
    }

    &__close {
        @extend .button;
        color: rgba($white, .5);
        background-color: transparent;

        &:hover {
            color: $white;
            background-color: rgba($white, .1);
        }
    }

    &__content {
        max-height: 70vh;
        margin: 0 45px;
        padding: 30px 0;
        overflow-y: scroll;

        :first-child { margin-top: 0; }
    }

    &__controls {
        padding:  10px 45px 10px 45px;
        background-color: rgba($black, .05);
        box-shadow: 0 -2px 10px rgba($black, .15);
        
    }

    &__close {
      float: right;
      cursor: pointer;
    }
}




