.page-section {
    padding-top: 30px;
    padding-bottom: 30px;

    .page-section__title {
        text-align: center;
        font-weight: 100;
    }

    h4 { text-transform: uppercase; }
}

.page-section--short { padding: 0 !important; }

.page-section--purple,
.page-section--black,
.page-section--teal,
.page-section--orange,
.page-section--blue { color: $white; }

.page-section--purple { background-color: $purple; }
.page-section--black  { background-color: rgba($black, .8); }
.page-section--teal   { background-color: $teal;   }
.page-section--orange { background-color: $orange; }
.page-section--blue   { background-color: $blue;   }
