// Hero Component

.hero {
  text-align: center;
  padding-top: 100px;
  background-color: rgba($black, .1);
  background-size: cover;
  background-position: center;
  color: $white;
  // mix-blend-mode: multiply;
  // padding-bottom: 40px;

  hgroup {
    padding: 20px 0;
    background-color: rgba($black, .3);
  }

  h1 {
    margin-bottom: .2em;
    line-height: 1;
    text-shadow: 1px 1px 4px rgba($black, .1);

  }

  h2 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 2em;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 4px rgba($black, .1);
  }

  .author {
    font-weight: bold;
    font-family: $main-font;
    font-size: 1rem;
    text-transform: uppercase;
  }

  a {
    color: currentColor;
    text-decoration: none;
  }
}

// Prose Component

.prose {
  font-family: $secondary-font;
  font-size: 1.3rem;
  font-weight: 100;
  letter-spacing: .4px;
  line-height: 1.62;

  p {
    margin-top: .5em;
    margin-bottom: .5em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $main-font;
    margin-top: 1.7em;
    margin-bottom: .3em;
  }

  h1 {
    font-size: 3rem;
    line-height: 1em;
    font-weight: 100;
  }

  h2 {
    font-size: 2rem;
    line-height: 1.2em;
    font-weight: 300;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.2em;
  }

  h4 {
    font-size: 1.2rem;
    line-height: 1.2em;
  }

  h5 {
    font-size: 1rem;
    line-height: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
  }

  h6 {
    font-size: 1rem;
    line-height: 1.3em;
    font-weight: bold;
  }

  a {
    color: $accent-color;
    text-decoration: none;
    @extend .u-transition;

    &:hover {
      @extend .u-transition;
      background-color: rgba($accent-color, .15);
    }
  }
}

