.search {
    width: 100%;
    padding: 0;
    position: relative;

    input {
        color: currentColor;
        vertical-align: bottom;
        background-color: rgba($black, .1);
        @extend .u-transition;
        border: 0;
        display: inline-block;
        margin-bottom: 0;
    }

    input[type='text'] {
        background-color: rgba($black, .1);
        padding: 8px 0;
        max-width: 0;
        text-indent: 8px;
        width: calc(100% - 45px); // Need to keep both widths in base and .m-active styles for transition to work smoothly
    }

    input[type='text']:focus { background-color: rgba($black, .2); }

    input[type='submit'] {
        @extend .u-material-icons;
        padding: 8px;
        background-color: transparent;
        margin-left: -4px;
        line-height: .85; // Alignment Fix
    }

    input[type='submit']:hover { 
        background-color: rgba($black, .1);
    }
}

.search--fixed,
.js-active {
    z-index: 20;

    input[type='text'] {
        padding: 8px;
        max-width: 100%;
        width: calc(100% - 45px); // Need to keep both widths in base and .m-active styles for transition to work smoothly
    }

    input[type='submit'] { 
        background-color: rgba($black, .15);
    }
}

.search--negative {
    input { color: $white; }
    input[type='text'] { background-color: rgba($white, .1); }
    
    &.js-active {
        input[type='submit'] { background-color: rgba($white, .15); }
    }
}














