.slide {
    background-color: rgba($black, .8);
    color: $white;
    padding: 20px 0;

    > header {
        padding: 20px 0;
        @include breakpoint($small-only) { text-align: center; }
    }

    > header > h4 {
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;

        @include breakpoint($medium) { margin-top: 0; }
    }

    p { font-weight: 300;}
    p a { text-decoration: underline; }

    &__slider-index {
        > span {
            @extend .u-circle;
            height: 8px;
            width: 8px;
            background-color: $white-20;
            display: inline-block;
        }

        &--active { background-color: $white-50; }
    }

    &__content {
        padding: 20px 0;

        h2,
        h3 {
            font-weight: 100;
            line-height: 1.2;
            text-transform: none;
        }

        h2 { font-size: 32px; }

        h3 { font-size: 20px; }
        h3 strong { font-weight: 600; }
    }

    &__action-group {

    }

    &__action {
        @include breakpoint($small-only) { margin-bottom: 10px; }
    }
}

.slide--purple { background-color: $purple; }
.slide--blue { background-color: $blue; }
.slide--orange { background-color: $orange; }
.slide--teal { background-color: $teal; }
