.sticky {
    background-color: #333;
    padding: 25px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0 0 10px $gray-20;
    z-index: 1;
    color: $white-60;
    display: none;

    &__title {
        margin: 0;
        padding: 0;
        font-weight: 600;
        font-size: 1.5rem;

        @include breakpoint($small-only) { font-size: 1rem; }
    }

    p { margin: 10px 0; }

    p a { color: $white-90; }
    p a:hover { text-decoration: underline; }

    &__close {
        float: right;
        margin-right: 10px;
        opacity: .6;
        cursor: pointer;

        &:hover { opacity: 1; }
    }
}




.sticky--error,
.sticky--red     { background-color: $red;    }
.sticky--success,
.sticky--green   { background-color: $green;  }
.sticky--alert,
.sticky--orange  { background-color: $orange; }
.sticky--purple  { background-color: $purple; }
.sticky--blue    { background-color: $blue;   }
.sticky--teal    { background-color: $teal;   }
