.u-table,
table {
    margin-top: 0;
    width: 100%;
    font-family: $main-font;
    font-size: 1rem;
    font-weight: 300;
}

td, th {
  padding: 5px 10px;
  font-size: 12px;
  vertical-align: top;
  border: 0;

  @include breakpoint($medium) {
      font-size: 16px;
      padding: 10px;
  }
  @include breakpoint($large) {
      font-size: 16px;
      padding: 15px;
  }
}

th {
  color: $white;
  text-align: left;
  text-transform: uppercase;
}

tr { 
  text-align: left; 
  &:nth-child(2n) { background-color: rgba($black, .05); }
}

td {
  margin: 0;
  line-height: 1.4;
  vertical-align: top;

  p {
    margin-top: .3em;
    margin-bottom: .6em;
    line-height: 1.4em;
  }
}