body { 
    font-size: 16px; 
    font-family: $main-font;
    line-height: 1.62;
    font-weight: 400;
    color: $text-color;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p { }
p > a { text-decoration: underline; }
p > a:hover { text-decoration: none; }
    
a {
    text-decoration: none;
    color: currentColor;
    
    &:hover {
        text-decoration: underline;
        background-color: transparent;
        color: currentColor;
    }
}

small {}
em {}
strong {}
abbr {}
acronym {}
del {}
ins {}
kbd {}
code {}
samp {}

sub {}
sup {}

var {
    font-family: monospace;
    font-size: 1em;
    background-color: rgba($black, .1);
}


// Setting Font Sizes for Headers

h1 {
    font-size: 2rem;
    font-weight: 100;
}

h2 {
    font-size: 1.6rem;
    font-weight: 100;
    text-transform: uppercase;
}

h3 {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
}

h4 {
    font-size: 1.2rem;
    font-weight: 100;
    text-transform: uppercase;
}

h5 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

h6 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
}

@include breakpoint($medium) { 
    h1 { font-size: 5rem;   }
    h2 { font-size: 3.2rem; }
    h3 { font-size: 2.2rem; }
    h4 { font-size: 1.9rem; }
    h5 { font-size: 1.3rem; }
    h6 { font-size: 1.2rem; }
}

// @include breakpoint($large) { 
//     h1 { font-size: 5rem;   }
//     h2 { font-size: 3.2rem; }
//     h3 { font-size: 2.2rem; }
//     h4 { font-size: 1.9rem; }
//     h5 { font-size: 1.3rem; }
//     h6 { font-size: 1.2rem; }
// }

ul {}
ol {}
li {}

hr {
    border-width: 0;
    margin: 20px 0;
    border-top: 1px solid rgba($black, .1);
}


address {}

blockquote {
    border-left: 4px solid rgba($black, .2);
    margin-left: 0;
    padding-left: 1em;
}

cite {
    text-align: right;
    display: block;
    font-weight: 600;
}

dl {}
dd,
dt { margin-left: 0; }
dd { padding-bottom: 10px; }
dt { font-weight: 600; }

figure {
    margin: 0;
}

figcaption {
    text-align: center;
    font-size: .9rem;
    font-style: italic;
}
