// breakpoints

$small-only: screen and (max-width: 39.9375em);
$touch: screen and (max-width: 64em);
$medium: screen and (min-width: 40em);
$medium-only: screen and (min-width: 40em) and (max-width: 63.9375em);
$large: screen and (min-width: 64em);


// colors
$purple: #523080;
$orange: #ee5b43;
$teal: #008895;
$blue: #008ab3;
$green: #197d32;
$red: #c30014;
$text-color: #333;
$black: black;
$white: white;

$gray-10: rgba($black, .1);
$gray-20: rgba($black, .2);
$gray-30: rgba($black, .3);
$gray-40: rgba($black, .4);
$gray-50: rgba($black, .5);
$gray-60: rgba($black, .6);
$gray-70: rgba($black, .7);
$gray-80: rgba($black, .8);
$gray-90: rgba($black, .9);

$white-10: rgba($white, .1);
$white-20: rgba($white, .2);
$white-30: rgba($white, .3);
$white-40: rgba($white, .4);
$white-50: rgba($white, .5);
$white-60: rgba($white, .6);
$white-70: rgba($white, .7);
$white-80: rgba($white, .8);
$white-90: rgba($white, .9);

$purple-20k: darken($purple, 4);
$purple-40k: darken($purple, 6);

$blue-20k: darken($blue, 4);
$blue-40k: darken($blue, 6);

$orange-20k: darken($orange, 4);
$orange-40k: darken($orange, 6);

$teal-20k: darken($teal, 4);
$teal-40k: darken($teal, 6);
