{% extends "_base.html" %}

{% block content %}
{% set topic = $global.topics[topic_id]%}

{% if topic.conference.is_active %}
<section class="top-section top-section--theme-color">
  <div class="row expanded align-center">
    <div class="large-8 column medium-10">
      <h3>Conference Information</h3>     
      <h1>{{topic.title}}</h1>
      <h3>{{topic.short_description}}</h3> 
    </div>
  </div>
  <div class="row expanded align-center">
    <div class="large-4 column medium-5">  
      <h4>{{topic.conference.date}}</h4>
    </div>
    <div class="large-4 column medium-5">  
      <h4>{{topic.conference.time}}</h4>
    </div>
  </div>
  <div class="main-buttons">
    <a href="./application.html" class="button button--accent-color">Participate</a>
  </div>
</section>
</section>

<section class="page-section">
  <div class="row align-center">
    <div class="columns large-8">
      <h4>Conference Resources</h4>
      {% for resource in topic.conference.resources %}
        <p><a href="{{resource.url}}"> {{resource.name}} </a></p>
      {% endfor %}      
    </div>
  </div>
  <div class="row align-center">
    <div class="column large-8 medium-10">
      <h3>Participants</h3>
      {% for participant in topic.conference.participants %}
          <p>{{ participant.name }} {{ participant.title }} <a href="{{ participant.twitter_url }}">Twitter</a></p>
      {% endfor %}
    </div>
  </div>
{% endif%}

{% if topic.post_conference.is_active %}
<section class="page-section">
  <div class="row align-center">
    <div class="columns large-8">
      <h3>Takeaways</h3>
      <p>{{ topic.post_conference.takeaways }}</p>
    </div>
  </div>
  <div class="row align-center">
    <div class="columns large-8">
      <h3>Action Items</h3>
      <p>{{ topic.post_conference.action_items }}</p>
    </div>
  </div>
</section>
{% endif %}

{% endblock %}