{% extends "_base.html" %}

{% block content %}

{% set topic = $global.topics[topic_id]%}
 <h3>Conference Info yolayhiiihuuhue</h3>
{% if topic.conference.is_active %}
  <p>TOPIC TITLE: {{ topic.title }}</p>

  <p>DATE: {{ topic.conference.date }}</p>

  <h3>Participants</h3>
    {% for participant in topic.conference.participants %}
        <p>{{ participant.name }}</p>
        <p>{{ participant.title }}</p>
        <p><a href="{{ participant.twitter_url }}">Twitter</a></p>
    {% endfor %}

  <h3>Link to Participant Form</h3>

  <h3>Conference Resources</h3>
    {% for resource in topic.conference.resources %}
      <p><a href="{{resource.url}}"> {{resource.name}} </a></p>
    {% endfor %}
{% endif%}

{% if topic.post_conference.is_active %}
  <p>TAKEAWAYS: {{ topic.post_conference.takeaways }}</p>
  <p> ACTION ITEMS: {{ topic.post_conference.action_items }}</p>
    <h3>Post Conference Resources</h3>
      {% for resource in topic.post_conference.resources %}
        <p><a href="{{resource.url}}"> {{resource.name}} </a></p>
      {% endfor %}
{% endif %}



{% endblock %}