{% extends "_base.html" %}

{% block content %}
<section class="top-section top-section--white">
  <div class="row expanded">
    <h1>{{title}}</h1>
    <h2>{{short_description}}</h2>
  </div>
   
</section>

<section class="page-top-section">
  <div class="row expanded">
    <div class="column large-12">
      
    </div>
  </div>
</section>
<p>Short Description: </p>
<p>Focus: {{focus}}</p>
<p>Problem Description Link: {{ problem_description_link }}</p>
<p>Link to Participant form</p>

{% endblock %}