{% extends "_base.html" %}

{% block content %}
<section class="top-section top-section--main-color top-section--background-panel" style="background-image: url(./images/topics/{{image}});">
  <div class="row expanded align-center">
    <div class="medium-10 large-9 column top-section__content">
      <h1>{{title}}</h1>
      <h3>{{short_description}}</h3>  
    </div>
  </div>
  <div class="main-buttons">
    {% if conference.is_active %}<a href="{{title | slug}}-conference.html" class="button button--accent-color">Conference</a>{% endif %}
    <a href="./call-for-participants.html" class="button button--accent-color">Participate</a>
  </div>
</section>

<section class="page-section">
  <div class="row align-center">
    <div class="column large-9 medium-10">
      <h5>Focus</h5>
      <p class="page-section__highlight">{{focus}}</p>
    </div>
  </div>
  <div class="row align-center">
    <div class="column large-9 medium-12">
      <h5>Problem Description</h5>
      <p class="page-section__highlight">{{problem_description_summary}}</p>
      <a href="{{ problem_description_link }}" target="_blank" class="button button--accent-color">Read the Problem Description</a>
    </div>
  </div>
</section>


{% endblock %}