{% extends "_base.html" %}

{% block content %}
<section class="top-section top-section--main-color">
    <!-- <h1>About</h1> -->
    <h1></h1>
</section>

<section class="page-section">
  <div class="row align-center">
    <div class="column large-10 small-12">
      <!-- <p>Global and complex public health emergencies, such as Zika, Dengue and Chikungunya, threaten public health and well-being, risk disruption to global and regional trade and economic stability, and cause widespread uncertainty and concern.</p> -->
      <p>Las emergencias complejas y mundiales de salud pública, tales como el zika, el dengue y el chikungunya, presentan una amenaza a la salud y bienestar públicos, pueden desestabilizar el comercio regional y la economía mundial y causar incertidumbre y preocupación general.</p>

      <!-- <p>In response, the Governance Lab and the Inter-American Development Bank in partnership with the Governments of the <strong>City of Rio de Janeiro</strong>, <strong>Argentina</strong>, <strong>Colombia</strong> and <strong>Panama</strong>, are hosting a series of online conferences taking place August-October 2016.</p> -->

      <p>En respuesta, el Governance Lab y el Banco Interamericano de Desarrollo, en colaboración con los gobiernos de la <strong>Ciudad de Río de Janeiro</strong>, <strong>Argentina</strong>, <strong>Colombia</strong> y <strong>Panamá</strong>, están patrocinando una serie de conferencias en línea que se celebran de agosto a octubre de 2016.</p>

      <!-- <p>Instead of a handful of people meeting once at great expense in a conference room, we will use the Internet to mobilize and curate diverse and distributed expertise -- both credentialed know-how and experiential wisdom -- to identify, design and iterate upon implementable ideas that governments can use.<p> -->

      <p>En lugar de que un grupo de personas se reúnan una vez, a un elevado costo, en un salón de conferencias, usaremos el Internet para movilizar y depurar conocimientos especializados diversos y distribuidos – tanto competencia técnica acreditada como sabiduría experiencial – para identificar, diseñar y repetir ideas aplicables que los gobiernos puedan usar.<p>

      <!-- <p>The goal? Bring the best thinking to bear and translate good ideas into actionable proposals backed by evidence.</p> -->
      <p>¿El objetivo? aportar las mejores ideas y convertir ideas buenas en propuestas aplicables, respaldadas por pruebas.</p>
    </div>
  </div>
  <div class="row align-center">
    <div class="column large-10 small-12">
      <!-- <p><strong>If you have any questions, please email <a href="mailto:maria@thegovlab.org?Subject=Smarter%20Crowdsourcing:%20%20Zika%20Inquiry" target="_top">maria@thegovlab.org</a>.</strong></p> -->
      <p><strong>Si tiene alguna pregunta, sírvase enviar un correo electrónico a: <a href="mailto:maria@thegovlab.org?Subject=Smarter%20Crowdsourcing:%20%20Zika%20Inquiry" target="_top">maria@thegovlab.org</a>.</strong></p> 
    </div>
  </div>
</section>



{% endblock %}