{% extends "_base.html" %}

{% block content %}
<section class="top-section top-section--main-color">
    <h1>About</h1>
</section>

<section class="page-section">
  <div class="row">
    <div class="medium-12 column">
      <p>Global and complex public health emergencies, such as Zika, Dengue and Chikungunya, threaten public health and well-being, risk disruption to global and regional trade and economic stability, and cause widespread uncertainty and concern.</p>

      <p>In response, the Governance Lab and the Inter-American Development Bank in partnership with  the Governments of Rio de Janeiro, Argentina, Colombia and Panama, are hosting a series of online conferences taking place August-October 2016.</p>

      <p>Instead of a handful of people meeting once at great expense in a conference room, we will use the Internet to mobilize and curate diverse and distributed expertise -- both credentialed know-how and experiential wisdom -- to identify, design and iterate upon implementable ideas that governments can use.<p>

      <p>The goal? Bring the best thinking to bear and translate good ideas into actionable proposals backed by evidence.</p>
    </div>
  </div>
</section>

<section class="divider divider--theme-color">
  <h1>Government Partners</h1>
</section>
<div class="page-section">
  <div class="row">
    <div class="medium-3 columns">
      <h4>Argentina</h4>
    </div>
    <div class="medium-3 columns">
      <h4>Brazil</h4>
    </div>
    <div class="medium-3 columns">
      <h4>Colombia</h4>
    </div>
    <div class="medium-3 columns">
      <h4>Panama</h4>
    </div>
  </div>
</div>



{% endblock %}