{% extends "_base.html" %}

{% block content %}
<section class="top-section top-section--main-color">
    <h1>Thank you!</h1>
    <h3>Your application has been submitted.</h3>
   
</section>

<section class="page-section">
  <div class="row align-center">
    <div class="medium-10 large-9 column">
      <p>Please note that, in an effort to make conversation meaningful, we are limiting the size of each group. We will confirm your participation and provide login instructions by return email.</p>
      <div class="text-centered"><a href="./topics.html" class='button button--accent-color'>See More Topics</a></div>
    </div>
  </div>
</section>


{% endblock %}