{% extends "_base.html" %}

{% block content %}

    <main role="main">
        <!-- main content starts here -->
        <section class="top-section top-section--white">
          <div class="row expanded">
            <div class="column large-12 site-logo__wrapper">
              <a href="./"><img class="site-logo" src="./images/zika-logo-pos.png" alt=""></a>
            </div>
            <div class="column large-12">
              <section class="imagine-banner">
                {# <h2>Imagine if the epidemiologist, the computer scientist, the urban planner and those with diverse know how <br> could talk to one another to design actionable solutions to the root causes of mosquito borne illness.</h2> #}
                {# <h2>Imagine if those creative individuals could speak directly to the institutions <br> with the power and responsibility for delivering new policies and services.</h2> #}
                <h2>Imagine if the smartest and most innovative people could come together to fight Zika quickly and easily.</h2>
              </section>
            </div>
          </div>
          <div class="main-buttons">
            <a href="#" class="button button--accent-color">Participate</a>
            <a href="#" class="button button--accent-color">Schedule</a>
          </div>
        </section>

        <section>
          <div class="row expanded">
            <div class="large-6 column topic topic--relevant-learning">
              <h1>ASSESSING PUBLIC AWARENESS<span class="topic__date">Aug <em>31</em></span></h1>
              <p>What are the most effective ways to capture the public’s understanding of mosquito borne diseases? How to use these findings to inform the design of campaigns to improve public awareness?</p>
              <p><a href="./assessing-public-awareness.html" class="button button--theme-color">Conference Information</a></p>
            </div>
            <div class="large-6 column topic topic--governance-and-coordination">
              <h1>COMMUNICATION & BEHAVIOR CHANGE<span class="topic__date">Sep <em>7</em></span></h1>
              <p>What are the most effective ways for getting the public to change behavior to prevent mosquito breeding and mosquito bites and get proper access to healthcare?</p>
              <p><a href="./communication-and-behavior-change.html" class="button button--theme-color">Conference Information</a></p>
            </div>
          </div>
          <div class="row expanded">
            <div class="large-6 column topic topic--predictive-analytics topic--disabled">
              <h1>Predictive Analytics</h1>
              <p>What innovative approaches are available for using data to predict factors influencing outbreaks, such as mosquito infestations, patterns of human habitation and movement, climate & environmental factors, and rates and other forms of transmission?</p>
            </div>
            <div class="large-6 column topic topic--trash-and-standing-water topic--disabled">
              <h1>Trash and Standing Water</h1>
             <p>What can be done to eliminate uncollected waste and standing water where Aedes Aegypti mosquitoes breed?</p>
            </div>
          </div>
          <div class="row expanded">
            <div class="large-6 column topic topic--economics-of-testing topic--disabled">
              <h1>Economics of Testing and Vaccination</h1>
              <p>How do we identify and develop efficient and effective policies to avoid under- and over-inclusive testing and vaccination? </p>
            </div>
            <div class="large-6 column topic topic--information-collection topic--disabled">
              <h1>Information Collection / Data Governance</h1>
              <p>How do we develop policies and practices for better epidemiological data collecting and for sharing the data with the correct authorities, where there is an absence of government action?</p>
            </div>
          </div>
        </div>
        </section>

        <section class="divider divider--theme-color">
          <h1>Secondary Information</h1>
        </section>
        <div class="page-section">
          <div class="row">
            <div class="medium-6 column">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus reprehenderit, veniam. Quo tempore nobis mollitia enim obcaecati, quisquam, totam quaerat possimus dolore distinctio praesentium rem! Facere id obcaecati laboriosam incidunt.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo ad reprehenderit, officia est tenetur consequatur molestiae expedita, libero consequuntur mollitia maiores amet ut aspernatur perferendis optio rerum incidunt, soluta. Quis.</p>
            </div>
            <div class="medium-6 column">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus reprehenderit, veniam. Quo tempore nobis mollitia enim obcaecati, quisquam, totam quaerat possimus dolore distinctio praesentium rem! Facere id obcaecati laboriosam incidunt.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex laudantium cumque a dignissimos rerum, corporis excepturi commodi aperiam nobis, dolorum iste quia magni facilis dicta recusandae! Hic error quam optio.</p>
            </div>
          </div>
        </div>


    </main>
{% endblock %}
