{% extends "_base.html" %}

{% block content %}

    <main role="main">
        <!-- main content starts here -->
        <section class="page-top-section page-top-section--main-color">
          <div class="row expanded">
            <div class="column large-12">
              <section class="imagine-banner">
                <h2>{# Content Added via CSS #}</h2>
              </section>
            </div>
          </div>
          <div class="main-buttons">
            <a href="#" class="button button--accent-color">Participate</a>
            <a href="#" class="button button--accent-color">Schedule</a>
          </div>
        </section>
        
        <section class="page-section page-section--main-color">
          <div class="row expanded">
            <div class="large-8 column topic">
              <h1>Relevant Learning</h1>
              <p>What can be done to accelerate relevant learning among affected public policymakers, especially those outside of a ministry of health (e.g. environment, sanitation, urban planning, etc), and at various levels of government so they can develop a geographically specific and culturally contextualized understanding of a public health issue quickly enough to determine what related policies and services they must create?</p>
            </div>
            <div class="large-4 column topic">
              <h1>Governance and Coordination</h1>
              <p>What are the best strategies for ensuring collaboration and avoiding duplication of effort between the many agencies involved in responding to a complex public health crisis? Who should be in charge?</p>
            </div>
          </div>
          <div class="row expanded">
            <div class="large-6 column topic">
              <h1>Predictive Analytics</h1>
              <p>What innovative approaches are available for using data to predict factors influencing outbreaks, such as mosquito infestations, patterns of human habitation and movement, climate & environmental factors, and rates and other forms of transmission?</p>
            </div>
            <div class="large-6 column topic">
              <h1>Trash and Standing Water</h1>
             <p>What can be done to eliminate uncollected waste and standing water where Aedes Aegypti mosquitoes breed?</p>
            </div>
          </div>
          <div class="row expanded">
            <div class="large-6 column topic">
              <h1>Economics of Testing and Vaccination</h1>
              <p>How do we identify and develop efficient and effective policies to avoid under- and over-inclusive testing and vaccination? </p>
            </div>
            <div class="large-6 column topic">
              <h1>Information Collection / Data Governance</h1>
              <p>How do we develop policies and practices for better epidemiological data collecting and for sharing the data with the correct authorities, where there is an absence of government action?</p>
            </div>
          </div>
        </div>
        </section>  
        
        <section class="divider">
          <h1>Secondary Information</h1>
        </section>
        <div class="page-section">
          <div class="row">
            <div class="medium-6 column">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus reprehenderit, veniam. Quo tempore nobis mollitia enim obcaecati, quisquam, totam quaerat possimus dolore distinctio praesentium rem! Facere id obcaecati laboriosam incidunt.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo ad reprehenderit, officia est tenetur consequatur molestiae expedita, libero consequuntur mollitia maiores amet ut aspernatur perferendis optio rerum incidunt, soluta. Quis.</p>
            </div>
            <div class="medium-6 column">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus reprehenderit, veniam. Quo tempore nobis mollitia enim obcaecati, quisquam, totam quaerat possimus dolore distinctio praesentium rem! Facere id obcaecati laboriosam incidunt.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex laudantium cumque a dignissimos rerum, corporis excepturi commodi aperiam nobis, dolorum iste quia magni facilis dicta recusandae! Hic error quam optio.</p>
            </div>
          </div>
        </div>

    
    </main>
{% endblock %}
