$main-color: #2c4758;
$accent-color: #FFAA00;
$theme-color: #04ccb7;
// $accent-color: #FF1150;
// $accent-color: darken($purple, 8);

.top-bar--main-color {
  background-color: $main-color;

  .top-bar__button {
    background-color: $theme-color;

    &:hover {
      background-color: $accent-color;
    }
  }
}

.top-section--main-color { background-color: $main-color; }
.top-section--white { background-color: white; }

.page-section {
  &--main-color { background-color: $main-color; }
  // &--transparent { background-color: transparent; }
}

.divider--theme-color {
  background-color: $theme-color;
  color: $main-color;
}

.button--accent-color {
  background-color: $accent-color;
  color: white;
  font-weight: 600;

  &:hover {
    background-color: darken($accent-color, 8);
    color: white;
  }
}

/////////////////////////////////////////////////////////////////


.topic {
  color: white;
  padding: 80px 80px;
  position: relative;
  background-blend-mode: multiply;
  background-color: $main-color;
  background-size: cover;
  background-position: center;
  @extend .u-transition;

  &:hover {
    background-color: $theme-color;
    @extend .u-transition;
  }

  &__date {
    font-weight: 400;
    position: absolute;
    bottom: 0;
    line-height: 1;
    right: 0;


    em {
      font-style: normal;
      font-size: 60px;
      font-weight: 100;
    }
  }

  &--disabled {
    color: rgba(white, .3);
    opacity: .6;
    pointer-events: none;
  }

  h1 {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
  }

  p {
    font-weight: 400;
    font-size: 20px;
  }

  &--relevant-learning { background-image: url("../images/topics/relevant-learning.jpg"); }
  &--governance-and-coordination { background-image: url("../images/topics/governance-and-coordination.jpg"); }
  &--predictive-analytics { background-image: url("../images/topics/predictive-analytics.jpg"); }
  &--trash-and-standing-water { background-image: url("../images/topics/trash-and-standing-water.jpg"); }
  &--economics-of-testing { background-image: url("../images/topics/economics-of-testing.jpg"); }
  &--information-collection { background-image: url("../images/topics/information-collection.jpg"); }
}

.imagine-banner {
    h2 {
      font-size: 24px;
      text-transform: none;
      margin: 0;
      text-align: center;
      padding: 80px;
      font-weight: 400;
      color: $main-color;

      &:after {
        color: white;
        animation: imagine 10s linear infinite;
      }
    }
}

.site-logo {
  max-width: 520px;
  margin-top: 70px;

  &__wrapper {
    text-align: center;
  }
}

.main-buttons {
  text-align: center;
  margin-bottom: -55px;
  position: relative;
  z-index: 1;

  .button {
    margin: 0 5px;
    box-shadow: 2px 2px 10px rgba(black, .1);
  }
}