.error-messages {
  color:red;
}

.field-required::after {
  content:" *";
  color: red;
}

.hidden-form-field {
  display: none;
}

.form-checkbox-group,
.form-radio-group {
  padding: 0 0 10px 0;
  li { list-style-type: none; }
}