.partner {
  list-style: none;
  vertical-align: text-top;
  margin-top: 20px;

  .partner-name {
    color: black; 
    font-weight: 600;
  }
  
  .partner-title {color: gray;}
  
  .partner-affiliation {color: gray;}
}
.partner-country {
    h3 {
      text-align: right;
      font-weight: 300;
      font-size: 20px;
      margin-top: 20px;
    }
  }
.partner-container {
  @include breakpoint($touch) {
    .partner-country h3 {
      text-align:left;
    }
    @media (min-width: 515px) {
      padding-left:20%;
      .partner {padding:0;}
    }
    @media (max-width: 515px) {
      .partner {padding:0;}
    }
  }
}