li { margin-right: 20px; } // when titles/affiliations are long, text becomes unreadable

.topic {
  color: white;
  
  position: relative;
  background-blend-mode: multiply;
  background-color: $main-color;
  background-size: cover;
  background-position: center top;
  @extend .u-transition;

  @include breakpoint($medium) { padding: 40px 40px; }
  @include breakpoint($large) { padding: 80px 80px; }
  @media (max-width: 640px) {padding: 45px;}

  &:hover {
    background-color: $theme-color;
    @extend .u-transition;
  }

  &__date { 
    @include breakpoint($medium) { position: absolute; }
    text-align: right;
    right: 30px;
    bottom: 15px;

    h6 { 
      margin: 10px 0 0;
      line-height: 1;
      display: inline-block;
      font-size: 1rem;
    }
    &-past { color: $accent-color;}
  }

  &__month {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.4rem;
  }

  &__day {
    font-size: 3rem;
    font-weight: 100;
    font-style: normal;
  }

  &--disabled {
    color: rgba(white, .3);
    opacity: .6;
    pointer-events: none;
  }

  &--inactive {
    color: rgba(white, .4);
    opacity: .9;
    pointer-events: none;
    padding: 40px;
    &:nth-of-type(odd) { background-color: rgba($main-color, .95); }
    &:nth-of-type(even) { background-color: rgba($main-color, 1); }
  }

  h1 {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    @media (max-width: 640px) {
      font-size:20px;
    }
  }

  p {
    font-weight: 400;
    font-size: 20px;
    @media (max-width: 640px) {
      font-size:18px;
    }
  }
}