// =========================
// Site Specific Styles Here
// =========================


@import './styleguide/styleguide.scss'; // Need to create the right path
@import 'custom.scss';
@import 'topic.scss';
@import 'form.scss';
@import 'people.scss';

.footer-alt {
  background-color: $gray-80;
  text-align: center;
  color: $white-80;
  font-size: 18px;
  h4 {
    font-weight: 700;
    font-size: 20px;
    padding-bottom:0;
  }
  .footer__partner-logo {
    text-align:center;
    img {
      max-height: 80px;
    }
  padding-bottom: 30px;
  }
}


// FORM EDITS

.checkbox label{
    display: inline-block;
    margin-left: 2.5em;
}
.checkbox label:before{
    margin-left: -40px;
}


// // REMOVE BUTTONS ON ALL MOBILE
// body {
//   @media only screen 
//     and (max-device-width: 1200px)
//     and (-webkit-min-device-pixel-ratio: 2) {
//       .main-buttons {
//         // display: none;
//       }
//   }
// }

